{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": [
        "app/javascript/dashboard/components-next/Campaigns/Pages/CampaignPage/EmailCampaign/EmailCampaignReview.vue",
        "app/javascript/dashboard/routes/dashboard/campaigns/pages/EmailBuilderPage.vue",
        "app/javascript/dashboard/routes/dashboard/campaigns/pages/EmailCampaignsPage.vue",
        "app/javascript/dashboard/routes/dashboard/campaigns/pages/EmailTemplatesPage.vue",
        "app/javascript/dashboard/routes/dashboard/crm/components/CrmPipelineDrawer.vue",
        "app/javascript/dashboard/routes/dashboard/campaigns/pages/TrackedLinksPage.vue",
        "app/javascript/dashboard/components-next/Campaigns/TrackedLinks/CreateTrackedLinkDialog.vue"
      ],
      "options": {
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
